
.calc-container {
    background: #8080808f;
    width: 350px;
    height: 600px;
    border-radius: 15px;
    margin: auto;
}

.container-row {
    width: 350px;
    height: 90px;
    padding: 10px;
    margin-bottom: 10px;
}

.button {
  background: #3a3939;
  height: 100%;
  border-radius: 15px;
  color: white;
  font-size: 30px;
  border: solid 3px #b8b8b8;
  text-align: center;
  padding-top: 8px;
}

.screen {
  background: #807272;
  height: 100%;
  border-radius: 15px;
  color: white;
  font-size: 30px;
  border: solid 3px #b8b8b8;
  text-align: right;
  padding-top: 8px;
}
